<!DOCTYPE html>
<html lang="zh_CN"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>index</title>
    <!-- Bootstrap core CSS -->
    <link href="webjars/bootstrap/4.0.0/css/bootstrap.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <!--<link href="../asserts/css/signin.css" th:href="@{/asserts/css/signin.css}" rel="stylesheet">-->

    <script src="webjars/jquery/3.5.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!--<script th:href="@{/webjars/bootstrap/4.0.0/js/bootstrap.js}"></script>-->

</head>

<body class="bg-light">
<!--<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" th:fragment="topbar">-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="topbar">
    <!--<a class="navbar-brand mr-auto mr-lg-0" href="#">Feel the Wind</a>-->
    <!--<button class="navbar-toggler p-0 border-3" type="button" data-toggle="offcanvas">-->
        <!--<span class="navbar-toggler-icon"></span>-->
    <!--</button>-->

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto" >
            <!--<li class="nav-item active">-->
                <!--<a class="nav-link" th:href="@{/}">首页<span class="sr-only">(current)</span></a>-->
            <!--</li>-->

            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">首页</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                    我要打卡
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" th:href="@{/meal}">恰饭</a>
                    <a class="dropdown-item" th:href="@{/getup}">起床</a>
                    <a class="dropdown-item" th:href="@{/sleep}">睡觉</a>
                    <!--<div class="dropdown-divider"></div>-->
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/listAction}">打卡记录</a>
            </li>
            <!--<li class="nav-item dropdown">-->
                <!--<a class="nav-link dropdown-toggle" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">-->
                    <!--我的账号-->
                <!--</a>-->
                <!--<div class="dropdown-menu" aria-labelledby="dropdown01">-->
                    <!--<a class="dropdown-item "><small>还需[[${credit_left}]]活力升级</small></a>-->
                    <!--<div class="dropdown-divider"></div>-->
                    <!--<a class="dropdown-item" href="#">修改密码</a>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link">我的账号</a>-->
            <!--</li>-->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">登出</a>
            </li>

            <!--<li class="nav-item">-->
                <!--<a class="nav-link">-->
                    <!--好友-->
                    <!--<span class="badge badge-pill bg-light text-dark align-text-bottom">27</span>-->
                <!--</a>-->
            <!--</li>-->

        </ul>

        <!--<form class="form-inline my-2 my-lg-0">-->
            <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
            <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--</form>-->

    </div>
</nav>

<main role="main" class="container" >
    <!--<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">-->
        <!--&lt;!&ndash;<img class="mr-3" src="./Offcanvas template · Bootstrap_files/bootstrap-outline.svg" alt="" width="48" height="48">&ndash;&gt;-->
        <!--<div class="lh-100">-->
            <!--<h6 class="mb-0 text-white lh-100">Bootstrap</h6>-->
            <!--<small>Since 2011</small>-->
        <!--</div>-->
    <!--</div>-->

    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <font class="d-block">欢迎回来,
            <font style="color:deeppink" th:if="${user.usertype}=='admin'">♔</font>
            <font style="color: red;">[Lv.</font><font style="color: red">[[${level}]]</font><font style="color: red">]</font>
            <font>[[${session.loginUser}]]</font>。
            你现在拥有︎<font style="color: green"><strong>♥︎[[${user.getCredit()}]]</strong></font>点活力，距离升级还需
            <font style="color: green"><strong>♥︎︎[[${credit_left}]]</strong></font>点活力值。你的金币余额：
            <font style="color:gold; margin-right: 10px"><strong>$[[${user.coin}]]</strong></font>
            <font style="color:red" th:if="${session.actionMsg=='success'}"> [打卡成功！
                ︎<font style="color: green">♥</font>活力值[[${session.actionAddend}]]
                ]
            </font>
            <font style="color:red" th:if="${session.actionMsg=='alreadyMealed'}"> [你已经吃过这顿饭了哦~] </font>
            <font style="color:red" th:if="${session.actionMsg=='alreadySlept'}"> [你已经睡下了哦~] </font>
            <font style="color:red" th:if="${session.actionMsg=='alreadyGotUp'}"> [你已经起过床了哦~] </font>
            <font style="color:red" th:if="${session.actionMsg=='fail_noInTime'}"> [打卡失败QAQ 不在规定时间内] </font>
        </font>
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">TOP玩家</h6>

        <div class="media text-muted pt-3">
            <div th:replace="svgSheet :: svg_podium"></div>
            <!--<img src="img/podium.jpg" height="32" width="32"/>-->

            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block"><font style="color:gold; margin-right: 7px">1st</font><font style="color: black"> [[${topUsers.get(0).username}]] </font></strong>
                <font class="d-block"><font style="color:silver; margin-right: 2px">2nd</font><font style="color: black"> [[${topUsers.get(1).username}]]</font></font>
                <font class="d-block"><font style="color:saddlebrown; margin-right: 4px">3rd</font><font style="color: black"> [[${topUsers.get(2).username}]]</font></font>
            </p>
        </div>

        <small class="d-block text-right mt-3">
            <a th:href="@{/userRank}">全站排名</a>
        </small>
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">置顶帖</h6>

        <div class="media text-muted pt-3">
            <div th:replace="svgSheet :: svg_star"></div>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark"><a th:href="@{/post/help}">欢迎来到FeeltheWind</a></strong>
                每一个不曾起舞的日子，都是对生命的辜负。
            </p>
        </div>

        <div class="media text-muted pt-3">
            <div th:replace="svgSheet :: svg_pen"></div>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark"><a th:href="@{/post/help}">玩法说明</a></strong>
                V1.0版本功能详解
            </p>
        </div>

        <div class="media text-muted pt-3">
            <div th:replace="svgSheet :: svg_friend"></div>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark"><a th:href="@{/post/joinUs}">成为开发者</a></strong>
                我们还有很多值得完成的事情！加入我们，成为这个社区的开发者！
            </p>
        </div>

        <small class="d-block text-right mt-3">
            <a href="#">查看更多</a>
        </small>
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">近期活动</h6>

        <div class="media text-muted pt-3">
            <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">[[${recentActions.get(0).getActiontime().substring(5)}]]</strong>
                </div>
                <span class="d-block"><font style="color: blue">@[[${recentActions.get(0).getUsername()}]]</font>
                    <font th:if="${recentActions.get(0).getActionname()=='breakfast'}">开始享用早餐</font>
                    <font th:if="${recentActions.get(0).getActionname()=='lunch'}">开始享用午餐</font>
                    <font th:if="${recentActions.get(0).getActionname()=='supper'}">开始享用晚餐</font>
                    <font th:if="${recentActions.get(0).getActionname()=='getup'}">从梦乡中醒来</font>
                    <font th:if="${recentActions.get(0).getActionname()=='sleep'}">准备睡觉了</font>
                    [[${recentActions.get(0).getActiondetail()}]]
                </span>
            </div>
        </div>
        <div class="media text-muted pt-3">
            <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">[[${recentActions.get(1).getActiontime().substring(5)}]]</strong>
                    <!--<a href="https://getbootstrap.com/docs/4.4/examples/offcanvas/#">Follow</a>-->
                </div>
                <span class="d-block"><font style="color: blue">@[[${recentActions.get(1).getUsername()}]]</font>
                    <font th:if="${recentActions.get(1).getActionname()=='breakfast'}">开始享用早餐</font>
                    <font th:if="${recentActions.get(1).getActionname()=='lunch'}">开始享用午餐</font>
                    <font th:if="${recentActions.get(1).getActionname()=='supper'}">开始享用晚餐</font>
                    <font th:if="${recentActions.get(1).getActionname()=='getup'}">从梦乡中醒来</font>
                    <font th:if="${recentActions.get(1).getActionname()=='sleep'}">准备睡觉了</font>
                    [[${recentActions.get(1).getActiondetail()}]]
                </span>
            </div>
        </div>
        <div class="media text-muted pt-3">
            <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">[[${recentActions.get(2).getActiontime().substring(5)}]]</strong>
                    <!--<a href="https://getbootstrap.com/docs/4.4/examples/offcanvas/#">Follow</a>-->
                </div>
                <span class="d-block"><font style="color: blue">@[[${recentActions.get(2).getUsername()}]]</font>
                    <font th:if="${recentActions.get(2).getActionname()=='breakfast'}">开始享用早餐</font>
                    <font th:if="${recentActions.get(2).getActionname()=='lunch'}">开始享用午餐</font>
                    <font th:if="${recentActions.get(2).getActionname()=='supper'}">开始享用晚餐</font>
                    <font th:if="${recentActions.get(2).getActionname()=='getup'}">从梦乡中醒来</font>
                    <font th:if="${recentActions.get(2).getActionname()=='sleep'}">准备睡觉了</font>
                    [[${recentActions.get(2).getActiondetail()}]]
                </span>
            </div>
        </div>

        <small class="d-block text-right mt-3">
            <a href="https://getbootstrap.com/docs/4.4/examples/offcanvas/#">查看更多</a>
        </small>
    </div>

</main>

</body>

</html>