<!DOCTYPE HTML>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
    <script src="webjars/jquery/3.5.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!--<link href="../asserts/css/signin.css" th:href="@{/asserts/css/signin.css}" rel="stylesheet">-->
    <title>list</title>
</head>
<body style="margin-top: 100px">

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <!--<a class="navbar-brand mr-auto mr-lg-0" href="#">Feel the Wind</a>-->
    <!--<button class="navbar-toggler p-0 border-3" type="button" data-toggle="offcanvas">-->
    <!--<span class="navbar-toggler-icon"></span>-->
    <!--</button>-->

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto" >
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">首页</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">我要打卡</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" th:href="@{/meal}">恰饭</a>
                    <a class="dropdown-item" th:href="@{/getup}">起床</a>
                    <a class="dropdown-item" th:href="@{/sleep}">睡觉</a>
                    <!--<div class="dropdown-divider"></div>-->
                </div>
            </li>

            <li class="nav-item active">
                <a class="nav-link" th:href="@{/listAction}">打卡记录<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link">我的账号</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">登出</a>
            </li>

            <li class="nav-item">
                <a class="nav-link">
                    好友
                    <span class="badge badge-pill bg-light text-dark align-text-bottom">27</span>
                </a>
            </li>

        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

    </div>
</nav>
  
<div style="width:500px;margin:20px auto;text-align: center">
    <table align='center' border='1' cellspacing='0' class="table table-striped" width="80%">
        <thead class="thead-dark">
        <tr>
            <!--<td style="text-overflow:ellipsis;word-break:keep-all; white-space:nowrap;">动作id</td>-->
            <!--<td style="text-overflow:ellipsis;word-break:keep-all; white-space:nowrap;">用户名</td>-->
            <td style="text-overflow:ellipsis;word-break:keep-all; white-space:nowrap;">动作</td>
            <td style="text-overflow:ellipsis;word-break:keep-all; white-space:nowrap;">时间</td>
            <td style="text-overflow:ellipsis;word-break:keep-all; white-space:nowrap;">活力值 变化</td>
            <td style="text-overflow:ellipsis;word-break:keep-all; white-space:nowrap;">备注</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ua:${userActionPage.list}">
            <!--<td th:text="${ua.actionid}"></td>-->
            <!--<td th:text="${ua.username}"></td>-->
            <td th:text="${ua.actionname}"></td>
            <td style="text-overflow:ellipsis;word-break:keep-all; white-space:nowrap;" th:text="${ua.actiontime}"></td>
            <td><font th:if="${ua.creditchange} > 0">+</font>[[${ua.creditchange}]]</td>
            <td th:text="${ua.actiondetail}"></td></tr>
        </tbody>

            <!--<td><a th:href="@{/editCategory(id=${c.id})}">编辑</a></td>-->
            <!--<td><a th:href="@{/deleteCategory(id=${c.id})}">删除</a></td>-->
        <!--</tr>-->
    </table>

    <br/>
    <div>
            <a th:href="@{/}">返回主页 </a>
			<a th:href="@{/listAction(start=0)}">[首  页]</a>
			<a th:href="@{/listAction(start=${userActionPage.pageNum-1})}">[上一页]</a>
			<a th:href="@{/listAction(start=${userActionPage.pageNum+1})}">[下一页]</a>
			<a th:href="@{/listAction(start=${userActionPage.pages})}">[末  页]</a>
    </div>
    <br/>

</div>

</body>
</html>